/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/******* End Reset, Start Style **********/

body {
    text-align:center;
}

h3 {
    font-family: "Roboto";
    font-size: 18px;
    padding-bottom: 20px;
}

h6 {
    padding-top: -100px;
    font-family: "Merriweather Sans";
    font-size: 15px;
    color: rgba(30, 32, 32, 1);
    padding-bottom: 8px;
    font-weight: 300;
}

h3 a {
    text-decoration: none;
    color: #d90000;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

a:hover {
    color: #800000
}

#mainhead {
    display: table;
    overflow: hidden;
    margin: 0px auto;
    height: 1000px;
}

.vertcent {
    display: table-cell;
    vertical-align: middle;
}

.bottomfix {
    position: absolute;
    text-align: center;
    bottom: 0;
    padding-bottom: 15px;
    height: 64px;
    width: 64px;
}

.body {
    text-align: center;
    width: 700px;
    margin: 0px auto;
    margin-top: 35px;
}

h1 {
    text-align: center;
    font-family: "Merriweather Sans";
    font-size: 30px;
    font-weight: 300;
    padding-bottom: 5px;
    padding-top: 8px;
}

h4 {
    padding-bottom: 20px;
    font-family: "Merriweather Sans";
}

p {
    text-indent: 50px;
    font-family: "Roboto";
    font-size: 16px;
    text-align: justify;
    text-justify: inter-word;
    line-height: 20px;
    letter-spacing: .7px;
}

footer {
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: "Merriweather Sans";
    font-size: 12px;
}

h1 a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}

h1 a:hover {
    color: #d90000;
}

a:visited h1 {
    color: black;
}

.body h4 {
    color: black;
}

h5 {
    padding-top: 10px;

}

h5 a {
    text-decoration: none;
    color: #d90000;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}

/*.fa {
    text-decoration: none;
    color: black;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}

.fa-angle-double-down {
    color: black;
}
*/

a .fa {
    text-decoration: none;
    color: #d90000;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}

.fa a:visited {
    color: black;
}
