/* latin-ext */
@font-face {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  src: local("Karla"), local("Karla-Regular"),
    url(https://fonts.gstatic.com/s/karla/v8/qkBbXvYC6trAT7RbLtyG5Q.woff2)
      format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

:root {
  --primary: #3c88d4;
  --secondary: #e53935;
  --black: RGBA(1, 1, 1, 0.8);
  --light-black: RGBA(1, 1, 1, 0.5);
}

p {
  margin: 0px;
  line-height: 23px;
  font-weight: 350;
}
h5 {
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 2px;
}

h4 {
  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
}

.authors {
  font-size: 16px;
  font-weight: 300;
  margin-top: 5px;
  line-height: 23px;
}

.desc {
  color: rgba(0, 0, 0, 0.75);
  font-size: 17px;
  line-height: 22px;
  margin-bottom: 2px;
}

h6 {
  font-weight: lighter;
  font-size: 12px;
}
.press a {
  color: black;
}
.press a:hover {
  color: var(--primary);
}

.right-all {
  font-weight: 400;
  font-size: 17px;
}

.cv {
  margin: 0px auto;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 7px;
  font-size: 16px;
  padding: 7px;
}

#intro p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.sect {
  margin-top: 40px;
  margin-bottom: 10px;
}

#content h4,
h5,
h2 {
  margin: 0px;
}

h2 {
  font-size: 20px;
}

a {
  color: var(--primary);
  text-decoration: none; /* no underline */
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  /* ...and now for the proper property */
  transition: 0.5s;
}

a:hover {
  text-decoration: none;
  color: var(--secondary);
}

body {
  margin: 0px auto;
  margin-top: 40px;
  padding: 20px;
  font-family: "Karla", sans-serif;
  border-top: 5px solid var(--secondary);
  border-bottom: 5px solid var(--secondary);
}

html,
button,
input,
select,
textarea,
.pure-g [class*="pure-u"] {
  /* Set your content font stack here: */
  font-family: "Karla", Helvetica, sans-serif;
  color: var(--black);
}

#main-container {
  margin: 0px auto;
  padding: 20px;
  max-width: 1000px;
}

#name {
  margin-top: 20px;
}

.name {
  color: var(--secondary);
}

#social {
  margin-top: 20px;
}

h3 {
  font-size: 16px;
  font-weight: 300;
  line-height: 27px;
}

p {
  font-size: 16px;
}

button p {
  font-size: 13px;
  line-height: 22px;
  margin-right: 1px;
}
.fas {
  font-size: 19px;
  line-height: 1.1;
}
.fab {
  font-size: 19px;
  line-height: 1.1;
}
.button-link {
  display: inline-flex;
  justify-items: center;
}

.date {
  color: var(--light-black) !important;
}

.news-item {
  margin-top: 20px;
  margin-bottom: 20px;
}

.pub {
  margin-top: 40px;
}

.venue {
  text-align: center;
  font-style: italic;
  font-size: 16px;
  margin: 0px;
  margin-bottom: 20px;
  margin-top: 15px;
}

.thumb {
  width: calc(100% - 8px);
  margin-right: 20px;
}

.thumb img {
  border: 1px solid var(--light-black);
}

.paper-title {
  color: var(--black);
  font-weight: 400;
}

a button {
  font-size: 13px;
  font-weight: 100;
  border: 1px solid RGBA(0, 0, 0, 0.6);
  border-radius: 3px;
  padding: 4px;
  background-color: white;
  margin-right: 6px;
  margin-top: 6px;
  display: inline-flex;
}

button {
  font-size: 13px;
  font-weight: 100;
  border: 1px solid RGBA(0, 0, 0, 0.6);
  border-radius: 3px;
  padding: 4px;
  background-color: white;
  margin-right: 6px;
  margin-top: 6px;
  display: inline-flex;
}

.tags button {
  font-size: 13px;
  font-weight: 100;
  border: 1px solid RGBA(0, 0, 0, 0.6);
  border-radius: 3px;
  padding: 4px;
  background-color: white;
  margin-right: 6px;
  margin-top: 6px;
  display: inline-flex;
}

a button {
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  /* ...and now for the proper property */
  transition: 0.5s;
  color: var(--primary);
}

a button:hover {
  background-color: white;
  color: var(--secondary);
}

.buttons {
  flex-flow: wrap;
  display: inline-flex;
}

.buttons i {
  margin-right: 6px;
  font-size: 15px;
}

#copyright {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.disabled {
  background-color: #ececec80;
  color: black;
}

.disabled:hover {
  background-color: #ececec80;
  color: black;
}

.g {
  color: #4285f4;
}

.o1,
.e {
  color: #db4437;
}

.o2 {
  color: #f4b400;
}

.l {
  color: #0f9d58;
}
