/* latin-ext */
@font-face {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  src: local("Karla"), local("Karla-Regular"),
    url(https://fonts.gstatic.com/s/karla/v8/qkBbXvYC6trAT7RbLtyG5Q.woff2)
      format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

body {
  min-width: min-content;
  margin: 0px auto;
  margin-top: 40px;
  padding: 20px;
  font-family: "Karla", sans-serif;
  border-top: 5px solid var(--secondary);
  border-bottom: 5px solid var(--secondary);
}

html,
button,
input,
select,
textarea,
.pure-g [class*="pure-u"] {
  /* Set your content font stack here: */
  font-family: "Karla", Helvetica, sans-serif;
  color: var(--black);
}

:root {
  --primary: #3c88d4;
  --secondary: #e53935;
  --black: RGBA(1, 1, 1, 0.8);
  --light-black: RGBA(1, 1, 1, 0.5);
}

p {
  margin: 0px;
  line-height: 22px;
  font-weight: 300;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
  font-weight: 300;
}

.paper-title {
  color: black;
  font-weight: 500;
}

h4 {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

h5 {
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 2px;
}

h6 {
  font-weight: lighter;
  font-size: 12px;
}

.entry-link {
  margin-top: 3px;
  margin-left: 0px;
  border: none;
  padding-right: 10px;
  display: inline-flex;
  align-items: center;
}

.cv {
  margin: 0px auto;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 7px;
  font-size: 16px;
  padding: 7px;
}

#intro p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.sect {
  margin-top: 40px;
  margin-bottom: 10px;
}

a {
  color: var(--primary);
  text-decoration: none; /* no underline */
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  /* ...and now for the proper property */
  transition: 0.5s;
}

a:hover {
  text-decoration: none;
  color: var(--secondary);
}

#main-container {
  margin: 0px auto;
  padding: 20px;
  max-width: 1000px;
}

#name {
  margin-top: 20px;
}

.name {
  color: var(--secondary);
}

#social {
  margin-top: 20px;
}

p {
  font-size: 16px;
}

button p {
  font-size: 13px;
  line-height: 22px;
  margin-right: 1px;
}

.fas {
  font-size: 15px;
}
.fab {
  font-size: 15px;
}

.button-link {
  display: inline-flex;
  align-items: center;
}

.date {
  color: var(--light-black) !important;
}

.news-item {
  margin-top: 20px;
  margin-bottom: 20px;
}

.pub {
  margin-top: 20px;
}

.author {
  color: black;
}
.authors {
  margin-top: 5px;
}

.me {
  font-weight: 500;
}

.venue {
  text-align: left;
  /* font-style: italic; */
  margin: 0px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.thumb {
  height: 100%;
  min-height: 125px;
  margin-right: 20px;
  background-size: cover;
  background-position: top left;
  transition-property: background;
  transition-duration: 1.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
  border: 1px solid var(--light-black);
  border-radius: 2px;
}

.thumb:hover {
  background-position: bottom right;
}

a button {
  font-size: 13px;
  font-weight: 100;
  border: 1px solid RGBA(0, 0, 0, 0.6);
  border-radius: 3px;
  padding: 4px;
  background-color: white;
  margin-right: 6px;
  margin-top: 6px;
  display: inline-flex;
}

button {
  font-size: 13px;
  font-weight: 100;
  border: 1px solid RGBA(0, 0, 0, 0.6);
  border-radius: 3px;
  padding: 4px;
  background-color: white;
  margin-right: 6px;
  margin-top: 6px;
  display: inline-flex;
}

a button {
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  /* ...and now for the proper property */
  transition: 0.5s;
  /* color: var(--primary); */
}

a button:hover {
  background-color: white;
  color: var(--secondary);
}

.buttons {
  flex-flow: wrap;
  display: inline-flex;
}

.buttons i {
  margin-right: 6px;
  font-size: 15px;
}

#copyright {
  margin-top: 50px;
  text-align: center;
}

.disabled {
  background-color: #ececec80;
  color: black;
}

.disabled:hover {
  background-color: #ececec80;
  color: black;
}
