

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  background-color: #d9b663;
}

iframe {
  width: 275px;
  height: 175px;
  padding: 10px;
}

.container {
  background-color: white;
  text-align: center;
}

#thank-you {
  margin-top: -55px;
  margin-bottom: 50px;
  font-size: 36px;
  font-family: 'Anton', sans-serif;
}

.logo .desktop {
  display:block;
  margin: 0px auto;
  width: 750px;
  height: 250px ;
}

/* hide mobile version by default */
.logo .mobile {
  display: none;
}

/* when screen is less than 600px wide
   show mobile version and hide desktop */
@media (max-width: 800px) {
  .logo .mobile {
    display: block;
    margin: 0px auto;
    width: 400px;
  }
  .logo .desktop {
    display: none;
  }
}

#video-block {
  background: #BADA55;
  height:100px;
}
