<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Alex Cabrera's personal site</title>
        <link rel="icon" type="image/png" href="{{site.baseurl}}res/favicon.png">
        <link rel="stylesheet" type="text/css" href="{{site.baseurl}}css/blog.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <h6><a href="{{site.baseurl}}">Home</a></h6>
        <h1>{{page.title}}</h1>
        <div class="body" id="content">