<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Alex Cabrera's personal site</title>
        <link rel="icon" type="image/png" href="{{site.baseurl}}res/favicon.png">
        <link rel="stylesheet" type="text/css" href="{{site.baseurl}}css/style.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans' rel='stylesheet' type='text/css'>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-50459890-1', 'cabrera.io');
            ga('send', 'pageview');
        </script>
    </head>
    <body>
        <div id="mainhead">
            <div class="vertcent">
                <h3>Alex Cabrera</h3>
                <h6>currently</h6>
                <h3>Studying and working on <a href="http://ctfs.github.io/resources/">CTF Resources</a></h3>
                <h6>wants to</h6>
                <h3>Learn more about cryptography and cryptocurrencies</h3>
                <h6>also on on</h6>
                <h3><a href="https://github.com/cabreraalex">GitHub</a>, <a href="https://ctftime.org/user/3640">CTFTime</a></h3>
                <a href="#content"><h6 class="bottomfix">blog</h6></a>
            </div>
        </div>
        <div class="body" id="content">
