    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Front Page -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:728px;height:90px"
        data-ad-client="ca-pub-6356996845395506"
        data-ad-slot="1162853877"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
<footer> @ Alex Cabrera 2014 </footer>
    </body>
    <script src="{{site.baseurl}}javascript/jquery.min.js"></script>
    <script src="{{site.baseurl}}javascript/smooth.js"></script>
    <script src="{{site.baseurl}}javascript/script.js"></script>
</html>
